name: Deploy

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            if [ "${{ github.ref_name }}" = "main" ]; then
              cd /var/www/html/_______site_SORITUNECOM_J
              git pull origin main
            elif [ "${{ github.ref_name }}" = "dev" ]; then
              cd /var/www/html/_______site_SORITUNECOM_JUNIOR
              git pull origin dev
            fi
